<h1 matDialogTitle>New Order</h1>

<mat-dialog-content>
  <div fxLayout="column wrap">
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="productName" placeholder="Product Name" type="text">
    </mat-form-field>
  </div>
</mat-dialog-content>


<mat-dialog-actions fxLayoutAlign="end">
  <button mat-button matDialogClose>Cancel</button>
  <button mat-raised-button color="primary" [disabled]="productName == undefined || productName==''" (click)="submitOrder()">Submit</button>

</mat-dialog-actions>
