<mat-toolbar color="primary">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <span>Order Portal (SETEL)</span>
    <button mat-stroked-button (click)="onLogout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxFill>
  <mat-sidenav mode="side" opened class="mat-elevation-z1 side-menu-container" fxLayout="column" fxLayoutGap="10x">
    <!-- <div fxFlexAlign="center" class="user-image"></div>
    <h3 fxFlexAlign="center">Admin 1</h3> -->
    <div *ngFor="let menu of menuItem" fxLayout="column wrap">
      <button mat-button fxLayoutAlign="start stretch" (click)="onMenuClick(menu.navLink)"> <mat-icon class="mat-18">{{menu.icon}}</mat-icon> {{menu.name}} </button>
      <mat-divider mat-inset></mat-divider>
    </div>
  </mat-sidenav>
  <mat-sidenav-content> 
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
