<div fxFill fxLayoutAlign="center center">

  <div class="login-container mat-elevation-z1 padding" fxLayout="column" fxLayoutAlign="space-between stretch">

    <h3>ORDER OPERATION PORTAL</h3>

    <div fxLayout="column wrap">

      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="mobile" placeholder="Email" type="email">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="password" placeholder="Password" type="password">
      </mat-form-field>

    </div>
    <button [disabled]="onLoading" mat-raised-button color="primary" (click)="onLogin()">Login</button>
    <!-- <button [disabled]="onLoading" mat-button color="primary" (click)="onRegister()">Register</button> -->
  </div>

</div>
