<div fxFill class="padding" fxLayout="column">

  <div fxLayoutAlign="space-between center">
    <h3>Order List</h3>

    <button mat-raised-button (click)="newOrder()">New order</button>
  </div>

  <table mat-table [dataSource]="dataSource" fxFlex class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Order Id </th>
      <td mat-cell *matCellDef="let order"> {{order.id}} </td>
    </ng-container>
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef> Product Name </th>
      <td mat-cell *matCellDef="let order">{{order.productName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let order">
        <mat-chip-list>
          <mat-chip class="status-chip" [ngStyle]="{'background': getStatusColor(order.status)}" selected fxLayoutAlign="center stretch"> {{order.status| uppercase}} </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let order" >
        <div class="action-container">

          <div *ngIf="order.status == 'created'">
            <button [disabled]="onLoading" mat-button (click)="cancelOrder(order.id)">Cancel</button>
            <button [disabled]="onLoading" mat-button color="primary" (click)="payOrder(order.id)">Pay</button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>



  <mat-progress-bar *ngIf="onLoading" mode="query"></mat-progress-bar>

</div>
