/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import 'https://fonts.googleapis.com/icon?family=Material+Icons'

html{
    width: 100%;
    height: 100%;
    font-family: Roboto, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: calc(100% - 56px);
    margin: 0;
}

.padding{
    padding: 20px!important;
  }

